:root {
    --primary-brand-color: #4d5ae5;
    --pressed-state-color: #404bbf;
    --dark-color: #2e2f42;
    --success-color: #31d0aa;
    --text-color: #434455;
    --subtle-text-color: #8e8f99;
    --accent-color: #e7e9fc;
    --light-color: #f4f4fd;
    --white-color: #ffffff;

    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--white-color);
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (min-width: 1158px) {
    .container {
        padding: 0 156px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark-color);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
}

.logo-studio {
    color: var(--dark-color);
}

.logo-studio-footer {
    color: var(--light-color);
}

.page-header {
    border-bottom: 1px solid var(--accent-color);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--pressed-state-color);
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--pressed-state-color);
}

.hero-section {
    padding: 188px 0;
    background-color: var(--dark-color);
    text-align: center;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.hero-button {
    min-width: 169px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--pressed-state-color);
}

.features-section {
    padding: 120px 0;
}

.features-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.features-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    padding: 120px 0;
    background-color: var(--light-color);
}

.team-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.team-card {
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-content {
    padding: 32px 0;
    text-align: center;
}

.team-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-section {
    padding: 120px 0;
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card {
    background-color: var(--white-color);
}

.portfolio-card-content {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

.portfolio-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-footer {
    padding: 100px 0;
    background-color: var(--dark-color);
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
}
